.div-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #000000; /* Ajusta el color de fondo */
    color: #fff;
    
}

.box {
    position: relative;
    width: 100%;
    max-width: 800px;
}

.img-box1 {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.img-box2 {
    position: absolute;
    top: 45%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%);
    width:57%; /* Ajusta el tamaño según sea necesario */
    height: 50%;
    z-index: 2;
}

.div4-text {
    margin-top: 20px;
    max-width: 600px;
}

.p-div4 {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5;
}

.btn-play {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 15px rgba(0, 123, 255, 0.9), 
    0px 0px 30px rgba(0, 123, 255, 0.6); /* Efecto neón */
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
}

.btn-play:hover {
    background-color: #0056b3;
    box-shadow: 0px 0px 25px rgba(0, 123, 255, 1), 
                0px 0px 50px rgba(0, 123, 255, 0.8); /* Brillo más fuerte en hover */

}
